.form {
  text-align: center;
}

.allForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-field {
  margin-bottom: 20px;
}

.inputLabel {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}